[user]
email = Duinkerkenroy1123@gmail.com
name = RoyDuinkerken123

[alias]
statusnum = !"C:/Users/Duink/git-custom-commands.sh" statusnum
addnum = !"C:/Users/Duink/git-custom-commands.sh" addnumber
restorenum = !"C:/Users/Duink/git-custom-commands.sh" restorenum
resetnum = !"C:/Users/Duink/git-custom-commands.sh" resetnum
diffnum = !"C:/Users/Duink/git-custom-commands.sh" diffnum


# command to start editting your .gitconfig file
viewconfig= "!git config --global --edit"

# amend while without changing commit message
	amend = commit --amend --no-edit

# show splitscreen diff of file
diffs = difftool -y


# some basic configuration thingies
[color]
status = auto
